<h1>List Users</h1>

<table>
  <thead>
    <th>username</th>
    <th>Name</th>
    <th>Last_name</th>
  </thead>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.username, user %></td>
      <td><%= user.name %></td>
      <td><%= user.last_name %></td>
      <td><%= link_to 'Tweets', user_tweets_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'New User', new_user_path %>
